body {
    background-image: url(https://pbs.twimg.com/media/C6LuKS2VAAAMe3m?format=jpg&name=4096x4096);
    animation: animateBackground 20s linear infinite;
    background-color: black;
    /* font-family: ; */
    font-family: fantasy;
    color: lightskyblue;
    size: larger;
    font-size: larger;
}

  
@keyframes animateBackground {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: 35% 100%;
    }
}


#video-background {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

/* LI section */

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav li {
    padding: 10px;
    font-size: larger;
    margin: auto;
    transition: all 0.4s ease;
    font-weight: bolder;
}

li:hover {
    background: green;
}

nav a {
    color: palegreen;
    text-decoration: none;
}

/* Hero Section */

.hero-section {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: xx-large;
}

.hero-section p {
    margin-bottom: 20px;
}

/* Content section */

.content-section {
    padding: 50px;
}

.content-section h2 {
    color: lightgreen;
    margin-bottom: 20px;
}

.content-section p {
    color: rgb(0, 200, 0);
    font-size: larger;
    line-height: 1.5;
    margin-bottom: 20px;
}

/* Legion section */

.legion-section {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.legion-section h2 {
    align-self: center;
}

/* header */

header {
    background: rgba(0, 0, 0, 0.331);
    padding: 20px;
}

/* footer */

footer {
    background: 0%;
    padding: 10px;
    color: rgba(255, 255, 255, 0.54);
    text-align: center;
}
